$error_color:red;
$success_color:green;


$color_red:red;
$color_green:green;
$color_yellow:yellow;
$font_color_black:#333;
$font_color_write:#fff;
$font_color_grey: #ccc;

$background_write:#fff;
$background_black:#333;
$background_red:red;
$background_hui: #B3C0D1;
$background_qian:rgb(246, 246, 246);

$menu_item_hover_bg:#e7e7e7;
$menu_item_active_bg:#e2e2e2;
// 引用时函数时直接属性:$opacity
$opacity: 0.7;
$hover_bgcolor:#f6f6f6;

$font_color_grey:#ccc;

$player_detail_back: #e7e7e7;
$player_detail_content_back:#ffffff;

@function opacity($num){
    @return $num 
}