@import "./color.scss";
@import "./size.scss";
@import "./mixin.scss";


html,body{
    width:100%;
    height:100%;
  }
  html,body,a,span,i,h1,h2,h3,h4,h5,h6,dl,dt,dd,ol,ul,li,tr,th,td,div,p,select,section,footer,header,aside,main{
    margin:0px;
    padding:0;
    border: 0;
    font-color:$font_color_black;
  }
  li,a{
    list-style:none; 
  }
  #app {
    font-family: "Avenir", Helvetica, Arial, sans-serif;
    /* 下边的是自己加的 */
    width:100%;
    height:100%;
    overflow: hidden;
  }
  #nav {
    height: 100%;
    display: flex;
    flex-direction:column;
  }
  
  #nav a {
    font-weight: bold;
  }
  
  #nav a.router-link-exact-active {
    color: #42b983;
  }
  #nav>:first-child{
    flex-grow: 0;
    height:$header-height;
    background-color: $background_write;
  }
  #nav>:nth-child(2){
    width:100%;
    // flex-grow: 1;
    height:calc(100% - #{$header-height});
    position: relative;
    display: flex;
    // overflow: auto;
  }
  #nav>:nth-child(3){
    // width:100%;
    height:$footer-height;
    // flex-grow: 0;
    background: $background_hui;
    opacity: $opacity;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
  }
  .top {
    background-color: $background_qian;
    opacity: $opacity;
    line-height: 60px;
    height: $header-height;
  }
  aside {
    margin: 0;
    display: flex;
    flex-direction: column;
    // 宽度不要写百分比……
    width:250px;
    background: $background_qian;
    height:calc(100% - #{$header-height}) ;
  }
  main {
    flex: 1;
    margin: 0 auto;
    // background: $background_qian;
    margin-bottom: $header-height;
    overflow-y: auto;
  }
  main>div{
    max-width: 70%;
    margin: auto;
  }
  /* 若只写first-child则会选中nav及其子元素、孙子元素……的第一个子元素 */
  .el-dialog{
    background: $background_qian !important;
    .el-input{
      margin-bottom: 15px;
    }
  } 
  .el-input{
    background: $background_qian !important;
  }
//引用的iconfont
  .iconfont {
    font-size: 16px;
  }