/* @mixin bordered($color, $width) {  可以传参可以不传参，不传参就可以不用写括号
  border: $width solid $color;
}
定义默认值：@mixin bordered($color: blue, $width: 1px) {
  border: $width solid $color;
}
使用：.myArticle {
  @include bordered(blue, 1px);  // 调用混入，并传递两个参数
} 
-与_一样
*/

@mixin text-ellipsis(){
  overflow: hidden;
  text-overflow: ellipsis; //单行显示，多行显示……
  white-space: nowrap;
}

@mixin many-ellipsis($num) {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: $num;
  -webkit-box-orient: vertical;
}

@mixin colorWriteRgba($num: 0.5) {
  background: rgba(255, 255, 255, $num);
}

@mixin abs-stretch { //相对定位，满屏
  position: absolute;
  left: 0;
  bottom: 0;
  top: 0;
  right: 0;
}

@mixin flex_center($direction: row) {
  display: flex;
  flex-direction: $direction;
  align-items: center;
  justify-content: center;
}

@mixin abs_center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

// 图像的外边框
@mixin img-wrap($width, $height: $width) {
  width: $width;
  height: $height;
  flex-shrink: 0;

  img {
    width: 100%;
    height: 100%;
  }
}