$icon-s:14px;
$icon-m:16px;
$icon-l:18px;
$icon-xl:20px;
$icon-xxl:22px;
$icon-xxxl:24px;
$icon-xxxxl:26px;

$font-xxs:13px;
$font-xs:14px;
$font-s:15px;
$font-m:16px;
$font-l:18px;
$font-xl:19px;
$font-xxl:20px;
$font-xxxl:22px;

// 400相当于normal,bold相当于700；
$font_weight_s: 500;
$font_weight_m: 600;
$font_weight_l: 700;
$font_weight_xl: 800;
$font_weight_xxl: 900;
//使用时直接写函数名就行
@function font-size($size){
    @return $size+ px;
};
@function icon-size($size){
    @return $size +px;
};

$header-height: 70px;
$footer-height:70px;





/* .container {
   color : purple ;
   border : 2px dashed purple ;
}
.myText {
   @extend .container; //这里将继承.container类的所有样式
   font-size : 22px ;
} */